<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_UDDI</key>
	<string>1e5a6f2e-3f79-49bd-819b-d17541e6df78</string>
	<key>API_KEY</key>
	<string>H9BRrZ5RVtzgnHFUojG6M6IVYkUlWvOrGwZvUo3%2FxpQZzr8xAo9GLeIQfj8p%2FyUoy0JWKX5hC5bvEP3I8Fx%2BHw%3D%3D</string>
</dict>
</plist>
